body{
    text-align: center;
    margin: 4%;
}
.chooseneta{
    background-color: antiquewhite;
    margin: 20px;
    border-radius: 20px;
    align-content: center;
    color: azure;
}
.chooseneta>img{
    border-radius: 50%;
    padding: 10px;
    align-items: center;
}
.netaground{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ghanti{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.score{
    text-align: center;
}

.actionman {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .man {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .bell {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 270px;
    left: 180px;    
  }


  button {
    width: 150px;
    height: 40px;
    transition: 0.25s;
    border-radius: 4px;
    margin: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.up {
    border: 2px solid #4267B2;
    background: none;
    color: #4267B2;
}

.up:hover,
.up:focus {
    box-shadow: 0px 5px 10px -5px #4267B2;
    transform: translateY(-2px);
}

.shareSocials {
    margin: 2% 8%;
}

@media screen and (max-width: 700px) {
    .netaground {   
      flex-direction: column;
    }
    .ghanti{
        flex-direction: column;
    }
}